body {
    /* Full screen width and height */
    width: 100%;
    min-height: 100vh;
  
    /* Centers the container in the middle of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0;
    background-color: rgb(220, 220, 220);
  }